

  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	background: whitesmoke;
  margin: 10;
  font-family: poppins;
    

}

h1#text03 {
  font-size: 70px;
}

.inner {
  padding-right: 50px;
  margin: 50px 50px 50px 50px;
  
}
p{
  font-family: Open Sans;
}

div {
  
}


div#gallery01.gallery{
    background: ;

}
div.inner{
  margin-right: all;ar

}
div#container01.containerdefault{
  background-color: rgba(100, 50, 50, 1.0);
}
ul#buttons.buttons {
  

  
}

img{
  margin-right: 10px;
}

a,i.fab fa-facebook {
  background-color: whitesmoke;
  border-style: groove;
  border-style: double;
  border-width: 1px;
  border: 1px thin;
  border-radius: 8px;
  font-family: Open Sans;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;

}

a,i,span.label{
  font-size: 30px;
  font-family: sans-serif;
  padding-left: 10px;
}