

  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	background: #d8d8d8;
  margin: 10;
  font-family: poppins;
    

}

.inner {
  padding-right: 50px;
  margin: 50px 50px 50px 50px;
  
}
.h1{
  display: inline-flex;
  font-size: 100px;
  font-display: block;
  margin-right: 50;
}
p{
  font-family: Open Sans;
}
div {
  
}


div#gallery01.gallery{
    background: ;

}
div.inner{
  margin-right: all;ar

}
div#container01.containerdefault{
  background-color: rgba(100, 50, 50, 1.0);
}
ul#buttons.buttons {
  


  
}

a.fab.fa.facebook {
  padding: 10;
  background-color: rgba(100, 50, 40, 1.0);
}

span.label {
   border-width: 20px;
}